:root {
  --color-button-active: #2DABA6;
  --color-button-right: #228B22;
  --color-button-wrong: #FA8072;
  --color-button-hover: #AFEEEE;
  --color-button-disabled: #A9A9A9;
  --color-button-text: #FFFFFF;
  --color-cube: #2ECC71;
  --cube-size: 24px;
  --cube-gap: 10px;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 40px);
  padding-top: 40px;
  margin: 0;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.game__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.game__controls select {
  font-size: 16px;
  padding: 4px 6px;
}

.game__examples {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.example-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 1s ease, transform 0.25s ease;
}

.example-row.visible {
  opacity: 1;
  transform: translateY(0);
}

.example-left {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 200px;
}

.example__input {
  width: 60px;
  padding: 4px 6px;
  font-size: 16px;
}

.example__input.answered {
  border-color: transparent;
  background: transparent;
  color: #000;
  pointer-events: none;
}

.example__input::-webkit-inner-spin-button,
.example__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.example__input {
  -moz-appearance: textfield;
}

.example-right {
  display: flex;
  justify-content: end;
  gap: var(--cube-gap);
  width: 300px;
  height: var(--cube-size);
}

.cube {
  width: var(--cube-size);
  height: var(--cube-size);
  background: var(--color-cube);
  border-radius: 2px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cube--hidden {
  transform: translateY(100vh);
  opacity: 0;
}

.controls {
  padding-bottom: 40px;
}

.controls__button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  color: var(--color-button-text);
}

.controls__button:disabled {
  background: var(--color-button-disabled);
  cursor: not-allowed;
}

.controls__button.active {
  background: var(--color-button-active);
}

.controls__button:hover:not(:disabled) {
  background: var(--color-button-hover);
}

.controls__button.right {
  background: var(--color-button-right);
}

.controls__button.wrong {
  background: var(--color-button-wrong);
}

.wrong-input {
  border: 2px solid var(--color-button-wrong);
  color: var(--color-button-wrong);
  transition: border 0.3s ease, color 0.3s ease;
}

@media (max-width: 530px) {
  .example-row {
    gap: 10px; justify-content: center;
  }

  .example-left, .example-right {
    width: auto;
  }
}
