body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 40px);
  padding-top: 40px;
  margin: 0;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.game__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.game__controls select {
  font-size: 16px;
  padding: 4px 6px;
}

.game__examples {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.example-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.example-left {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 200px;
}

.example__input {
  width: 60px;
  padding: 4px 6px;
  font-size: 16px;
}

.example__input.answered {
  border-color: transparent;
  background: transparent;
  color: #000;
  pointer-events: none;
}

.example__input::-webkit-inner-spin-button,
.example__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.example__input {
  -moz-appearance: textfield;
}

.example-right {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 300px;
  height: 24px;
}

.cube {
  width: 24px;
  height: 24px;
  background: #2ecc71;
  border-radius: 2px;
  opacity: 1;
}

.controls {
  padding-bottom: 40px;
}

.controls__button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  color: #fff;
}

.controls__button:disabled {
  background: #A9A9A9;
  cursor: not-allowed;
}

.controls__button.active {
  background: #2DABA6;
}

.controls__button:hover:not(:disabled) {
  background: #AFEEEE;
}

.controls__button.right {
  background: #228B22;
}

.controls__button.wrong {
  background: #FA8072;
}

.wrong-input {
  border: 2px solid #FA8072;
  transition: border 0.3s ease, color 0,3s ease;
  color: #FA8072;
}

@media (max-width: 530px) {
  .example-row {
    gap: 10px;
    justify-content: center;
  }

  .example-left {
    width: auto;
  }

  .example-right {
    width: auto;
  }
}

